<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Timothy Berners-Lee</h1>
    <img src="/img/TimBerners-lee.jpg" alt="Foto de T.Berners-Lee">
    <p>Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), conocido como Tim Berners-Lee, 
        es un científico de la computación británico, conocido por ser el padre de la World Wide Web. 
        Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 
        1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y 
        estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento 
        de Internet.</p>
    
</body>
</html>