<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Edmund Clarke</h1>
    <img src="/img/edmund-clarke_0.jpg" alt="Foto de E.Clarke">
    <p>Edmund Melson Clarke, Jr. (Newport News, 27 de julio de 1945 - 22 de diciembre de 2020) 
        fue un informático teórico, profesor universitario, investigador, ingeniero y matemático 
        estadounidense. Principalmente reconocido por haber desarrollado el método conocido como 
        "model checking", para verificar diseños de software o hardware.</p>
</body>
</html>