<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Margaret Hamilton</h1>
    <img src="/img/MargaretHamilton.jpg" alt="Foto de M.Hamilton">
    <p>Margaret Hamilton (17 de agosto de 1936) es una científica computacional, matemática e 
        ingeniera de Software. Fue directora de la División de Ingeniería de Software del 
        Laboratorio de Instrumentación del MIT,dónde con su equipo desarrolló el software de 
        navegación "on-board" para el Programa Espacial Apolo.</p>
</body>
</html>